.search-container {
  width: 50%;   
  height: 60%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  border-radius: 30px;
  background: linear-gradient(to right, rgb(87, 43, 190), rgb(207, 17, 255));   
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    input {
      padding: 20px;
      border: transparent;
      border-radius: 15px;
      outline: none;
      color: gray;
      margin-bottom: 20px;
    }
    button {
      width: 100%;
      padding: 10px;
      border: transparent;
      border-radius: 15px;
      background-color: white;
      color: gray;
      font-weight: bold;
      cursor: pointer;
    }
    h3 {
      margin: 20px 0px;
    }
  }    
};

@media screen and (max-width: 992px) {
  .search-container {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .search-container {
    width: 100%;
    height: auto;
  }
}